<% provide(:title, "About Us") %>
<div class="row">
	<div class="span8 offset2">
    <h2>Who we are</h2>
    <p>
	    Oeno- (Eeh-No) Is the greek goddess of wine. She had the ability to turn ANYTHING into 
      wine.  Our kind of goddess! 
    </p>
    <p>
    	We first opened our doors for business in September of 2008 in Kailua, HI.  We have a true 
      passion for wine and wanted to share that passion with as many people as we could.   Our goal is to 
      share and spread our enthusiasm for wine with novices to experts, and help facilitate and create an 
      area where people can experience all the facets of wine and winemaking and create their own 
      wonderful custom personalized wine.  Please stop by for a tasting or just to talk about wine.  We 
      learn something new every day and hope all our visitors can pick up a lot or a little knowledge 
      every time they pass through our doors.  Winemaking is a truly historic process and a joy to 
      experience, so no matter what your experience level, come on by and share our enthusiasm for 
      wine with us.
    </p>
    <p class="quote">
        "for drinking: the arrival of a friend; one's present 
        or future thirst; the excellence of the wine; or any 
        other reason."
      </p>
      <p class="author">
        ~Latin saying
      </p>
  </div>
</div>