<% provide(:title, "F.A.Q's") %>
<div class="row faq">
	<div class="span8 offset2">
		<h4>Bottling Party Policies and/or Label Specifications?</h4>
		<p><%= link_to "How it's done", how_its_done_path %><p>
		<h4>How many bottles does a kit make?</h4>
		<p>
			Each kit yields 28-31 bottles. The discrepancies in bottles per kit is due to the amount of sediment in the wine, which will naturally displace 
      the liquid.
    </p>
    <h4>Can I make half a kit?</h4>
    <p>
    	We cannot sell half kits. But if you are interested in taking home a smaller amount of wine, gather a few friends and split it up. The larger the 
      group, the more types of wine you can make and the more you get to try!
    </p>
    <h4>How long does the process take?</h4>
    <p>
    	The mixing process (the first step) takes 15-20 minutes.  This consists of mixing the ingredients included in the wine kit with water in the 
      primary fermenter. 
    </p>
    <p>
    	Fermentation takes 4-6 weeks depending on the type of wine  you purchased.  The Grand Cru, Grand Cru Regional/International, and 
      Orchard Breezin’ wines are 4 or 5 week wines.  The rest are 6-week wines.
	  </p>
	  <p>
	  	After the wine is finished fermenting, you and your party will come in to bottle it and label it.  We encourage the bottling to be a festive time 
      with friends and family.  Bring food and your favorite mp3 playlist and celebrate your creation!
	  </p>
	  <h4>Can I blend kits?</h4>
	  <p>
	  	Blending wines  requires the purchase of two or more wines.  You are more than welcome to blend; however, please be aware that we cannot 
      guarantee the outcome of the wine.
    </p>
    <h4>Do you add sulfites to the wine?</h4>
    <p>
    	We must add sulfites to your wine in order to protect it from spoilage-causing microbes and oxidation.  It must be added, otherwise it will go 
      bad.  Our wines are designed to have 35-50 ppm (parts per million) of sulfite in the finished wine.  This is low compared to commercial wines, 
      which contain up to 70 ppm, or dried fruit like raisins, which can contain up to 250 ppm.  This is part of the reason your wine will mature 
      relatively quickly.  If all or most of your wine will be aged past 12-18 months, ask us about adding additional sulfite.
	  </p>
	  <h4>What else gets added to my wine before bottling?</h4>
	  <p>
	  	On the first day (mixing day), aside from the yeast, you also added bentonite to your juice.  Bentonite is a fining agent.  It helps to clear the 
      sediment out of your wine, and it also works during primary fermentation to help your juice ferment.  Bentonite is a type of clay composed of 
      sodium and calcium.  When used in wine making, it is stirred into the wine to remove proteins and other haze-causing particles.  It attaches 
      itself to a particle and together they are too heavy to stay in suspension.  Bentonite settles out so completely that it does not leave any residue 
      of taste or color behind.
    </p>
    <p>
    	During the stabilizing of your wine, we add sulfite and potassium sorbate.  Sulfite protects the wine from spoilage-causing microbes and
      oxidation.  It must be added, otherwise it will go bad.  Potassium sorbate inhibits the yeast from re-fermenting in the bottle.  If your wine starts 
      to re-ferment in the bottle, gas will build up inside and can push out the cork or burst the bottle.
    </p>
    <p>
    	Fining, or clearing, is established with the use of chitosan and kieselsol. Chitosan is a positively charged agent derived from shellfish.  It 
      adheres to negatively charged tannins and works extremely well in conjunction with kieselsol.  Kieselsol is a 30% solution of silicon dioxide.  It 
      is negatively charged, thereby adhering strongly to positively charged proteins.  When used in conjunction with chitosan, it creates a strong 
      electrostatic charge, brings the bonded particles to the bottom of the carboy, and produces crystal clear wines within 2 weeks.
    </p>
    <h4>When you say “award-winning wines” what do you mean?</h4>
    <p>
    	RJ Spagnols wines have consistently surpassed the competition at the annual WineMaker International Amateur wine competition.  We are 
      proud to boast the quality of wines that we sell!  If you are interested in becoming an amateur competitor and/or learning more about the
      competition, <%= link_to "WineMaker", "http://www.winemakermag.com/competition", target: "_blank" %>
    </p>  
    <h4>Does your pricing include bottles?</h4>
    <p>Yes, our pricing not only includes bottles, but corks, shrink caps, and labels, too!</p>
    <h4>Where does the juice come from?</h4>
    <p>
    	The juice in our RJ Spagnols brand product comes from top-quality vineyards all over the world.  RJ Spagnols contracts to purchase grapes 
      from growers by specifying conditions at harvest.  These specifications tend to be very rigid, for although the grapes may change radically from 
      harvest to harvest, it is essential that the juices maintain very high levels of consistency so you can be sure of what you are purchasing!
    </p>
    <h4>How are the wine kits made?</h4>
    <p><%= link_to "How it's done", how_its_done_path %></p>
    <h4>How long should I age my wine?</h4>
    <p>
    	That depends on the wine.  Generally, higher-end wines need more time to age than more inexpensive wines.  Reds need longer than whites, 
      dry wines need longer than off-dry, and more full-bodied wines need longer than lighter, fruitier wines.  If you can let your wine age for at least 
      a month or two in the bottle, you’ll be surprised by how much it will improve.  The flavor profile of a wine is like an arc.  It will improve over 
      time and reach a peak, and then the quality will start to decline.  One of the great things about kit wine and the 28-31 bottles you take home is 
      that you can consume your wine over time and taste the differences.
    </p>
    <h4>How long will my wine last?</h4>
    <p>
    	Four-week wines will generally last 12-16 months, six-week wines 2-3 years.  If you want to keep most or all of your wine for more than 12 
      months, ask us about adding extra sulfite.  Red wines will typically last longer than whites. And remember, storage is important!
    </p>
    <h4>How should I store my wine?</h4>
    <p>
    	deally, it should be in a dark, humid, cool (55°-60°F) place with little temperature fluctuation and no movement.  If the closest you can come 
      to this is the back of a cupboard or your closet, don’t fret. Since we use synthetic corks, your wine does not have to be stored on its side.  
    </p>
    <h4>Can I store my wine in the fridge?</h4>
    <p>Your refrigerator is not an ideal place to store wine long-term as it is too cool, too dry, and is generally vibrating.</p>
    <h4>Why do you use synthetic corks?</h4>
    <p>
    	Nomacorc© synthetic corks are best for use with our wines for a number of reasons.  First, they allow for freedom in storage as it is not 
      necessary for wine to be stored on its side during aging.  In a climate like Hawaii’s, humidity is a large factor in wine storage.  With synthetic 
      corks, there is no need to worry about shrinkage or contraction of your cork, which would allow the wine to oxidize.  Synthetic corks provide 
      consistent, predictable oxygen management.  As a result, off flavors due to oxidation and reduction or cork taint are a worry of the past. 
    </p>
    <h4>Can I use my own bottles?</h4>
    <p>We definitely welcome the recycling of bottles!  Here are a few guidelines to help you:</p>
    <ol>
    	<li>If you plan on using your own bottles, please let us know before your bottling date!  You will need 28-31 bottles.</li>
    	<li>Make sure you’re using the right kind of bottle. Screw-top bottles are not recommended.  The threads can chip and you cannot be 
          sure of how good a seal you have.  It is also not a good idea to cork a screw-top bottle.  The neck is not as strong as a bottle made for corks 
          and may break.  A standard wine bottle has a neck opening 18.5 mm in diameter.</li>
      <li>Make sure your bottles are clean and sanitary.  Clean bottles won’t have any residue or “gunk” in them.  We recommend to sanitize 
          your bottles just before bottling with a sulfite solution.  This will prevent the growth of any spoilage organisms in the bottle.</li>
    </ol>
	</div>
</div>