<div class="row">
  <aside class="span2">
    <section>
      <h3>Phone</h3>
      <h4>(808) 263-6366</h4>
      <hr />
      <h3>Hours</h3>
      <h4>Wednesday - Sunday:</h4>
      <h4>11am - 8pm</h4>
      <h4>Closed Monday & Tuesday</h4>
      <hr />
      <h4>OENO Happy Hour!</h4>
      <h4>Wednesday - Friday:</h4>
      <h4>11am - 3pm</h4>
  </section>
  </aside>
  <div class="span10 right">
    <%= image_tag "oeno_logo.png", class: "logo" %>
    <%= image_tag "banner.png", class: "banner" %>
    <h1>taste. create. enjoy.</h1>
    <h2>Now Available!</h2>
    <h2>Oeno Handcrafted Beermaking</h2>
    <p>
      We offer a unique hands-on experience in creating personalized bottles of world class wine.   Your personalized wine 
      is great for gifts, favors, starting or restocking your wine cellar, using as a business promotional tool, or just to have 
      on hand saving you a trip to the store and standing in front of the always overwhelming wine selection.
    </p>
    <p>
      Oeno Handcraft Beermaking is a selection of over 100 different styles of craft beer, handmade for you and ready to 
      be bottled when you return for your party.
    </p>
    <p>
      Our store is perfect for hosting events and parties; whether it's a birthday, anniversary, wedding, business gathering, 
      or just a fun evening out with your friends. 
    </p>
    <p>
      If you are a fan of wine, whether novice or sommelier, come on in and check out our huge selection of wines.  We 
      offer varietals from all over the world, from Pinots to Piesporters, so our wines are sure to please any palate.
    </p>

  </div>
</div>
<div class="row">
  <div class="span2">
  </div>
  <div class="span6 offset2">
    <p class="quote">
      "Wine is one of the most civilized things in the world and one 
      of the most natural things of the world that has been brought to 
      the greatest perfection, and it offers a greater range for 
      enjoyment and appreciation than, possibly, any other purely 
      sensory thing."
    </p>
    <p class="author">
      ~Ernest Hemingway</br>
      Death in the Afternoon
    </p>
  </div>
</div>