<% provide(:title, "How it's done") %>
<div class="row">
	<div class="span8 offset2">
    <h2>How it's done</h2>
    <p>
    	When most people think of winemaking they envision pants rolled up
      and skirts held high, stomping away barefoot in a large tub (a la "I
      Love Lucy").  Well, as that is one way to do it, and I am sure a blast,
      we are able to do things a little more, shall we say, sanitary, and a
      little less messy.  Although being in Hawaii, where most of our
      customers are more than willing to shed their shoes, the grapes are
      already crushed for us and all we have to do is get those crushed
      grapes to start fermenting into wonderful wine.
    </p>
    <p>
    	There are four easy steps to making fantastic personalized wine to
      use for yourself, gifts for your friends, business clients, or whatever
      else you can think of where wine would be the perfect compliment.
    </p>
      Don't forget that our location is perfect for hosting a party or get together with your friends.  Bring in your own snacks or 
      appetizers, music if you wish (we can plug most MP3 players into our stereo), and get ready to have a great time bottling, 
      corking, labeling and most of all, sampling your own wine.  Contact us today if you have any questions on how we can 
      help make the most of your next party.
    </p>
    <hr />
    <ul class="site_ul">
    	<li>Step 1 Taste</li>
        <p>
        	<b>Taste, taste, taste.</b>  Sample our wines and decide on your wine of choice. Please call for a reservation as we have limited
          seating available.  We are open for tastings during all business hours, Wed.-Sun. 11am-8pm. (Closed Mon. and Tuesday)
    	  </p>

    	<li>Step 2 Create</li>
        <p>
        	Place your order and wait patiently 4-6 weeks, depending on the style of wine, for it to ferment in our temperature-
          controlled fermentation room.  In the meantime, work on your label design(s), or come on in and check out our label  
          templates if you need some ideas.  We are more than willing to assist in the design of your label and have                     
          all the necessary equipment to turn any idea you may have into a reality.
    	  </p>

    	<li>Step 3 Enjoy</li>
        <p>
        	<b>Fun! Fun! Fun!</b>  Bottle your wine!  Bring in your friends, family, coworkers, or anyone else you want to share your wine 
          with in exchange for a little work.  You get to fill all the bottles, cork them, shrink the foil hoods over the tops, and put 
          your labels on.  This is great for a night out with friends, birthdays, weddings, anniversaries, employee parties, holiday
          parties, or any other excuse you can think of to get together and bottle some wine.  
        </p>

    </ul>
    <hr />
    <h3>Bottling Party Policies:</h3>
    <p>
    	We encourage you to make the most of your bottling party by inviting friends, family, and anyone else with whom you
      would enjoy sharing your experience (and wine!).  Here are our current party policies to help you plan your event.
    </p>
    <ul>
    	<li>maximum of 10 people per barrel, for each additional person there will be an $8 fee</li>
    	<li>each bottling party includes a 2-hour reservation at one of our 3 bottling stations</li>
    	<li>no outside alcoholic beverages allowed</li>
    </ul>
    <h3>Private Party Policies:</h3>
    <p>
    	You may request to have our space reserved for a private party (maximum 50 people).  More than 30 people will 
      automatically require a private party reservation.  Call us at 263-6366 for additional details.
    </p>
    <h3>Labeling Guidelines & Policies</h3>
    <ul class="site_ul2">
      <li>
      	Label dimensions are 3.33 inches X 4.0 inches.  Labels can be designed in portrait or landscape orientation.  All 
        back labels will be provided by Oeno Winemaking. Please use images that are 250dpi resolution or higher. If this is 
        not possible or you are unsure how to do this, please call us for help, 263-6366.
      </li>
      <li>
      	Acceptable file formats for print-ready labels are .jpeg, .pdf, .eps, .ai.  If you have questions about print-ready 
        formats, please email info@oenowinemaking.com or call 263-6366.
      </li>
      <li>
      	If your group is designing more than two (2) labels, ALL labels must be emailed at least 24 hours before your 
        bottling in print-ready formats; otherwise, we cannot guarantee labels will be ready at the time of your bottling.
      </li>
      <li>
      	For groups with two (2) or fewer label designs, designs may be emailed in advance or brought in at the time of your 
        bottling in print-ready format(s).
      </li>
      <li>A service fee of $10/label design will be incurred to print more than five (5) label designs.</li>
      <li>There is an in-store computer available for your use in designing your labels.  Please contact us if you would like to come in and use it.</li>
      <li>Extra labels are printed at a rate of $5/sheet.</li>
    </ul>
  </div>
</div>