<% provide(:title, "Weddings") %>
<div class="row married">
	<div class="span8 offset2">
    <h1>Getting Maried?</h2>
    <h2>Call today to schedule your wine tasting!</h3>
    <h3>your wedding. your wine. your labels.</h3>
    <hr class="hr2" />
    <p>
    	Make the most of your wedding day with exceptional wines that display
      your personal and unique touch. Create and design the perfect wine labels
      to showcase your special day. (Not the creative type? Ask us to help create
      your labels, <i>free of charge.</i>)
    </p>
    <p>
    	With your own label on your own world class wine, our wines are the perfect
    	way to please your geusts at the reception or provide a memorable wedding
    	favor. <i>We do half size bottles as well!</i> for those special individuals
    	you want to thank.
    </p>
    <p>
    	Choose from over 50 wines from our award winning wine list, and be sure to 
    	take advantage of our custom winery where you are able to taste your wines
    	before you purchase them.
    </p>
    <p>
    	Our winery is also the perfect place to host a pre-wedding event. You and 
    	your guests can participate in bottling all your wine to add a truly personalized
    	touch. Bring pupus and, of course, enjoy the fruits of your labor.
    </p>
    <%= image_tag "wedding.jpg" %>

  </div>
</div>
