// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p#contact-inst {
	font-family: gothic;
	text-align: center;
	font-size: 1.2em;
}