@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";

/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$red: #ae070a;
$darkRed: #710203;
$gold: #F2F5A9;

/* topography */
body {

}
h1 {
	color: gray;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
}
h2 {
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  text-shadow: 1px 1px 2px gray;
}
h3 {
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 1px 1px 2px gray;
}
h4 {

}
h5 {

}
h6 {

}
ul.site_ul {
  margin: 1em auto;
  li {
    margin: 0.5em auto;
    font-size: 2em;
    font-family: "Arial Black", Gadget, sans-serif;
    color: $red;
    list-style: none;
    p {
      font-size: 1em;
    }
  }
}
ul.site_ul2 {
  list-style-image: url('glass3.png');
  li {
    line-height:1em;
    margin: 1.4em auto;
  }
}
p {
	text-indent: 1.5em;
}
p + p {
  text-indent: 1.5em;
}
hr {
  background-color: $red;
  height: 5px;
}
hr.hr2 {
  background-color: black;
  height: 2px;
}

/* Navbar */

.navbar .brand {
	color: $gold;
	font-family: "Arial Black", Gadget, sans-serif;
	text-shadow: none;
	&:hover {
		color: white;
	}
}

.navbar-inner {
  background: $red;
  background-image: linear-gradient(bottom, $darkRed 29%, $red 73%);
  background-image: -o-linear-gradient(bottom, $darkRed 29%, $red 73%);
  background-image: -moz-linear-gradient(bottom, $darkRed 29%, $red 73%);
  background-image: -webkit-linear-gradient(bottom, $darkRed 29%, $red 73%);
  background-image: -ms-linear-gradient(bottom, $darkRed 29%, $red 73%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.29, $darkRed),
    color-stop(0.73, $red));
}

.navbar .nav > li > a {
  
}

.dropdown-menu li > a:hover, 
.dropdown-menu li > a:focus, 
.dropdown-submenu:hover > a {
  background-image: none;
  background-color: $red;
}

.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
  background-color: $gold;
  text-shadow: 0px 1px 0px #555;
  color: $red;
}
.nav-collapse .nav > li > a,
 .nav-collapse .dropdown-menu a {
  color: white;
  text-shadow: none;
  &:hover {
    text-shadow: none;
    background-color: $gold;
    color: $red;
  }
}
.nav-collapse .dropdown-menu a:hover {
  color: $red;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: $gold;
  text-shadow: none;
  color: $red;
}

.dropdown-menu {
  background: $red;
  background-image: linear-gradient(bottom, $darkRed 29%, $red 73%);
  background-image: -o-linear-gradient(bottom, $darkRed 29%, $red 73%);
  background-image: -moz-linear-gradient(bottom, $darkRed 29%, $red 73%);
  background-image: -webkit-linear-gradient(bottom, $darkRed 29%, $red 73%);
  background-image: -ms-linear-gradient(bottom, $darkRed 29%, $red 73%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.29, $darkRed),
    color-stop(0.73, $red));
}

.dropdown-menu > li > a {
  color: $red;
}

.dropdown-menu .divider {
background-color: $red;
border-bottom: 1px solid $red;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
border-top-color: black;
border-bottom-color: black;
}
.nav-collapse .dropdown-menu a {
  &:hover {
    color: black;
  }
}

/* *** Footer *** */

p.quote {
  margin: 2em auto;
  font-style: italic;
}
p.author {
  font-weight: bolder;
  font-style: none;
  text-align: right;
}

div.address {
  display: table;
  margin: 0 auto;
  p {
    text-indent: 0;
    text-align: center;
  }
  p.qoute {
  }
}

/* *** Flash messages *** */

.notice {
color: white;
padding: 8px 35px 8px 14px;
margin-bottom: 20px;
text-shadow: 0 1px 0 gray; 
background-color: #74B976;
border: 1px solid #2B862E;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

/* *** Forms *** */

form {
  background-color: white;
  padding: 20px;
}

div.form-wrap {
  padding: 1em;
  margin: 1em auto;
  background-color: $red;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  h2 {
    color: white;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

label {
  font-family: "Century Gothic", sans-serif;
  font-size: 1.4em;
}
input {
  height: auto !important;
}

/* show edit delete */

div.show_edit_del_ul {
  display: block;
  width: 100%;
  margin: 0;
  ul {
    width: 50%;
    margin: 0 auto;
    padding: 0.4em;
    text-align: center;
    white-space: nowrap;
    li {
      text-decoration: none;
      list-style: none;
      margin: 0.4em auto;
      a {

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

/* Media Queries */

@media (max-width: 400px) {
  h1 {
  	font-size: 2em;
  }
  hr.hr2 {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  h1 {
  	font-size: 2em;
  }
  hr.hr2 {
    width: 70%;
    margin: 0 auto;
  }
  div.price_list {
    div {
      ul {
        width:60%;
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}