// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$red: #ae070a;
$darkRed: #710203;
$gold: #F2F5A9;

/* ******** Home *********** */
img.logo {
	width: 50%;
	display: block;
	margin: 0 auto;
}
img.banner {
  width: 95%;
  max-width:700px;
  margin: 0 auto;
  display: table;
	img {
		display: inline-table;
		margin: 0;
		padding: 0;
	}
}
h1 { margin: 0.2em auto 1em auto;}
aside {
	height: 100%;	
	background: $red;
	background: -moz-linear-gradient(top, rgba(153,7,7,0.8) 0%, rgba(153,7,7,0.84) 22%, rgba(112,17,17,0.92) 59%, rgba(112,17,17,0.94) 71%, rgba(113,2,3,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,7,7,0.8)), color-stop(22%,rgba(153,7,7,0.84)), color-stop(59%,rgba(112,17,17,0.92)), color-stop(71%,rgba(112,17,17,0.94)), color-stop(100%,rgba(113,2,3,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(153,7,7,0.8) 0%,rgba(153,7,7,0.84) 22%,rgba(112,17,17,0.92) 59%,rgba(112,17,17,0.94) 71%,rgba(113,2,3,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(153,7,7,0.8) 0%,rgba(153,7,7,0.84) 22%,rgba(112,17,17,0.92) 59%,rgba(112,17,17,0.94) 71%,rgba(113,2,3,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(153,7,7,0.8) 0%,rgba(153,7,7,0.84) 22%,rgba(112,17,17,0.92) 59%,rgba(112,17,17,0.94) 71%,rgba(113,2,3,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(153,7,7,0.8) 0%,rgba(153,7,7,0.84) 22%,rgba(112,17,17,0.92) 59%,rgba(112,17,17,0.94) 71%,rgba(113,2,3,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc990707', endColorstr='#710203',GradientType=0 ); /* IE6-9 */
	hr {
	  border: 1px solid black;
	  background-color: white;
	  height: 5px;
	  margin: 1em auto;
  }
 	h1, h1, h3, h4, h5, h6 { 
	  color: white;
	  margin-left: 0.5em;
	  text-shadow: 0px 1px 0px gray;	
  }
}
div.right {
	h2 {
		text-shadow: 0px 1px 1px gray;
		color: $red;
	  font-family: "Arial Black", Gadget, sans-serif;
	  text-align: center;
	}
	p {
		width: 85%;
		margin: 1em auto;	
	}
}
p.quote {
	margin: 2em auto;
	font-style: italic;
}
p#author {
	font-weight: bolder;
	font-style: none;
	text-align: right;
}

div.address {
	display: table;
	margin: 0 auto;
	p {
		text-indent: 0;
		text-align: center;
	}
}
div.price_list {
  div {
    i {
      color: $red;
      font-weight: bold;
    }
    h2.comming_soon {
      font-size: 2em;
      color: $gold;
      text-shadow: 1px 1px 1px black;
    }
    h3 {
      font-size: 1.4em;
      text-align: center;
      line-height: 1em;
      margin: 0.8em auto;
      text-shadow: none;
    }
    h4 {
      text-align: center;
    }
    ul {
      width: 85%;
      margin: 0 auto;
      li {
        margin: 0.5em auto;
      }
    }
  }
}
div.married {
  div {
    h1 {
      color: #000;
      text-shadow: none;
    }
    h2 {
      text-shadow: none;
    }
    h3 {
      text-shadow: none;
      text-align: center;
      color: gray;
    }
    img {
      margin: 0 auto;
      display: block;
      padding: 0.5em 0.5em 1.4em 0.5em;
      background-color: #fff;
      -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
      -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
      box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    }
  }
}
div.faq {
  div {
    h4 {
      color: $red;
    }
  }
}

@media (max-width: 400px) {
  img.logo {width: 75%;}
  img.banner{width: 85%;}
  aside {
    text-align: center;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  img.logo {width: 75%;}
  img.banner{width: 85%;}
  aside {
    text-align: center;
    hr {
    	width: 80%;
    }
  }
  div.right {
 
  }
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}
